<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p><strong><a href="{{ base_url_relative }}/about/structure">Contact</a> | <a href="{{ base_url_relative }}/documents/privacy-policy">Privacy Policy</a> | © {{ "now"|date("Y") }} by <a href="{{ base_url_relative }}/documents/copyright">IASPEI</a>. All rights reserved.</strong> | Powered by: <a href="http://getgrav.org">Grav</a></p>
    </section>
</section>
